<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BODH | Site</title>
    <link id="Link" href="~/Content/images/icon.png" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/nav.css" rel="stylesheet" />
    <link href="~/Content/css/initcarousel-1.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/initcarousel-1.js"></script>
    <script src="~/Content/js/amazingcarousel.js"></script>
    <style>
        body {
            height: 100%;
            margin: 0;
        }
            .loader {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                width: 100vw;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99999;
                background: #fff;
            }
        /*.no-scroll {
            overflow: hidden;
        }*/

    </style>
</head>
<body>
    <div class="loader">
            <div id="zoom-box">
                <img src="~/Content/images/main-logo.png" id="myImage">
            </div>
        </div>

    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <script id="rendered-js">
        (function ($) {
            $(function () {
                $('#navbar-toggle').click(function () {
                    $('nav ul').slideToggle();
                });
                $('#navbar-toggle').on('click', function () {
                    this.classList.toggle('active');
                });
                $('nav ul li a:not(:only-child)').click(function (e) {
                    $(this).siblings('.navbar-dropdown').slideToggle("slow");
                    $('.navbar-dropdown').not($(this).siblings()).hide("slow");
                    e.stopPropagation();
                });
                $('html').click(function () {
                    $('.navbar-dropdown').hide();
                });
            });
        })(jQuery);
    </script>
    <script src="~/Content/js/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });
    </script>
    <script>
        document.body.classList.add('no-scroll');

        window.addEventListener('load', function () {
            $('.loader').fadeIn(2000);
            $('#zoom-box').animate({
                width: '300px',
                height: '300px',
                top: '40%',
                left: '40%',
            }, 500);

        });

        function fadeout() {
            $('#zoom-box').animate({
                width: '50px',
                height: '50px',
                top: '0px',
                left: '0px',
            }, 500);
            $('.loader').fadeOut(1000);
            $('.loader').addClass('hidden');
        }

        setInterval(fadeout, 2000);
    </script>
</body>
</html>
