@{
    ViewBag.Title = "Home Page";
    Bodh.Models.Bodh_DBEntities db = new Bodh.Models.Bodh_DBEntities();
    var bloglist = db.tbl_MicroCase.ToList();
}
<style>
    .active1 {
        color: #000 !important;
    }
    @@media screen and (max-width: 900px) {
        .active1 {
            color: #FFA968 !important;
        }
    }
</style>
<!-- Mission -->
<div class="banner">
    <div class="banner-content">
        <h2 class="drop-in">
            What is <span>BODH?</span>
        </h2>
        <div class="overflow-hidden">
            <p class="drop-in-2">
                BODH stands for Behavioral Outcomes and Decision Heuristics, a specialist unit that was born out of PCI’s quest for developing effective, sustainable and scalable solutions to complex development problems. For long, our teams had been working with the communities and system stakeholders, seeking their inputs and feedback to co-develop and  refine the solutions with varied degree of success. Inspired by the breakthrough in Behavioral Sciences to explain the complexities of human behavior and decision-making,  we decided to formally meld Behavioral Science and Design Thinking into the process of co-creating solutions using the behavioral science lens at every stage of defining the problem, and ideating, testing, refining and evaluating the potential solutions with active participation of community and system stakeholders. Thus, PCI’s proprietary model PRISM emerged.
            </p>
        </div>
    </div>
    <div class="banner-image animate fadeInDown four">
        <img src="~/Content/images/banner-image.png" alt="Bodh Banner">
    </div>
</div>

<!-- Methodology -->
<div class="method-section">
    <h2>Our Process</h2>
    <span class="title-br-cntr"></span>
    <div class="process-design">
        <img src="~/Content/images/prism.png" alt="bodh prism" data-aos="fade-up" data-aos-duration="3000" />
        <div class="content-design">
            <div class="" data-aos="fade-up" data-aos-duration="3000">
                <p><span class="highlight">PRISM®</span> allows us to understand the barriers that prevent our project segments from adopting desired behaviours, and the attitudes, beliefs and norms that drive those barriers. We leverage  principles of behavioural science and human centered design to co-create with diverse stakeholders, effective solutions that have their input and have been tested for feasibility, effectiveness and replicability.</p>
            </div>
            <div class="prism-data" data-aos="fade-up" data-aos-duration="3000">
                <p>We have successfully used this model to develop, test, refine, implement and evaluate award-winning communication, digital and service delivery interventions for projects focusing on Health and Nutrition, Family Planning, Gender, Livelihoods and Climate Change.</p>
            </div>
        </div>
    </div>
</div>
<!-- Blog -->
<div class="recent-blog">
    <div class="blog">
        <h2 data-aos="fade-down" data-aos-duration="3000">Latest Blogs</h2>
        <div class="product_slider3" data-aos="fade-down" data-aos-duration="3000">
            <div class="amazingcarousel-list-container">
                <ul class="amazingcarousel-list">
                    @if (bloglist != null)
                    {
                        foreach (var item in bloglist.OrderByDescending(x => x.Date).Take(5).ToList())
                        {
                            var PPath = Bodh.Models.CommonModel.GetFileUrl(item.PhotoPath);
                            string dtdate = Bodh.Models.CommonModel.FormateDtDMY(item.Date.Value.ToString());
                            <li class="amazingcarousel-item">
                                <div class="amazingcarousel-item-container">
                                    <div class="post-tag">
                                        <a href="@item.URLLink" target="_blank">
                                            <img src="@PPath" class="blog-img" />
                                        </a>
                                        <h3>
                                            <a href="@item.URLLink" target="_blank">@item.Title</a>
                                        </h3>
                                        <p>
                                            @item.Comment
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <div class="amazingcarousel-prev"></div>
                <div class="amazingcarousel-next"></div>
            </div>
        </div>
    </div>
</div>